<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stella | Your Personal Travel Asistence</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom CSS -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Rajdhani:300,400,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top nav-t">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll row" href="#page-top">
                        <img class="logoSmall " src="/img/stella-top.png" alt="">
                </a>


            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#testimonials">
                            <i class="fa fa-bell fa-1x"></i>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Joe Casanova <img src="/img/users/P1.png" class="nav-user"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav> 

    <!-- Header -->

    <div class="row" id="fichero">
        <div class="col-md-4 ficha1 ficha text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="">
                <span class="fa-stack fa-lg fa-5x icon-ficha">
                      <i class="fa fa-paper-plane fa-stack-1x"></i>
                </span>
                <h1>My Trip</h1>
            </a>
            <p>Plane or improvise ypur travel with Stella experience.</p>
            <br>
            <br>
            <br>
            <button  type="submit" class="btn btn-primary">Travel Planning</button>

            
        </div>
        <div class="col-md-4 ficha2 ficha text-center">

            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="">
                <span class="fa-stack fa-lg fa-5x icon-ficha">
                      <i class="fa fa-cc-mastercard fa-stack-1x"></i>
                </span>
                <h1>My Wallet</h1>
            </a>
            <p>Know better wass to distribute your money in the most amazing places.</p>
            <br>
            <br>
            <br>
            <button  type="submit" class="btn btn-primary">Paymente Status</button>
            <br>
            <br>
            <button  type="submit" class="btn btn-primary">Incidentals</button>

            
        </div>
        <div class="col-md-4 ficha3 ficha text-center">

            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="">
                <span class="fa-stack fa-lg fa-5x icon-ficha">
                      <i class="fa fa-clock-o fa-stack-1x"></i>
                </span>
                <h1>My Schedule</h1>
            </a>
            <p>Let Stella organiece your trip, monet and time in an easy and smart way.</p>
            <br>
            <br>
            <br>
            <button  type="submit" class="btn btn-primary">Your Schedule</button>


            
        </div>
        
    </div>

    <footer>
        <br>
        <div class="row">
            <div class="col-md-2 text-center">
                <ul>
                    <h5> Company </h5>
                            <br>
                    <a href="">About us</a>
                    <a href="">Newsroom</a>
                    <a href="">Contact Us</a>
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <ul>
                    <h5> Travels </h5>
                            <br>
                    <a href="">About us</a>
                    <a href="">Newsroom</a>
                    <a href="">Contact Us</a>
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <ul>
                    <h5> Legal </h5>
                            <br>
                    <a href="">About us</a>r
                    <a href="">Newsroom</a>
                    <a href="">Contact Us</a>
                </ul>
            </div>

            <div class="col-md-6 text-center">
                <br>
                <br>
                <br>
                <br>
                <span class="fa-stack fa-lg">
                    <a href=""><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
                </span>
                <span class="fa-stack fa-lg">
                  <a href=""><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
                </span>
                <span class="fa-stack fa-lg">
                  <a href=""><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></a>
                </span>
                <span class="fa-stack fa-lg">
                  <a href=""><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></a>
                </span>
            </div>
            
        </div>
        
    </footer>




      

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/front.js"></script>

</body>

</html>
