

<%- if devise_mapping.omniauthable? %>
  <h5>Or sing in whit</h5>
  <div class="row text-center">
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to '<i class="col-md-6 fa fa-facebook fa-3x"></i>'.html_safe , omniauth_authorize_path(resource_name, provider) %>
  <% end -%>
  <a href="">
   	<i class="col-md-6 fa fa-google-plus fa-3x"></i>
  </a>
  </div>
<% end -%>

