<div class="page">
	<h1>Checkout</h1>
	<div id="main">
		<h1>Your Orden Is Complete</h1>
		<p>
			Authorization
			<%= @data.auth_header %>
		</p>
		<form action="./" method="get">
			<input value="Click To Start Over" type="submit">
		</form>
	</div>
</div>
<script type="text/javascript" src="javascripts/common.js"></script>
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  	<script type="text/javascript" src="https://jquery-xml2json-plugin.googlecode.com/svn/trunk/jquery.xml2json.js"></script> 
    <script type="text/javascript" src="<%=@data.lightbox_url%>"</script>
	<script type="text/javascript" src="https://sandbox.masterpass.com/lightbox/Switch/assets/js/MasterPass.omniture.js"></script>
	<script type="text/javascript" src="javascripts/tooltips/jquery.qtip.min.js"></script>
	<script type="text/javascript" src="javascripts/tooltips/commonToolTips.js"></script>