<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stella | Your Personal Travel Asistence</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom CSS -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Rajdhani:300,400,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body id="page-top" class="index">


       <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
             <div class="col-md-6">
                    <%= yield %>
             </div>
                
            </div>   
            
        </div>
    </section>

    <section id="suscribe">
        <div class="row">
            <div class="col-md-6 text-center">
                <h1> Want to stay in touch ? </h1>
            </div>
            <div class="col-md-6"> 
                <br>
                <br>
                <button id="register" type="submit" class="btn btn-default">Suscribe</button>
            </div>
            
        </div>

    </section>

    <footer>
        <br>
        <div class="row">
            <div class="col-md-2 text-center">
                <ul>
                    <h5> Company </h5>
                            <br>
                    <a href="">About us</a>
                    <a href="">Newsroom</a>
                    <a href="">Contact Us</a>
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <ul>
                    <h5> Travels </h5>
                            <br>
                    <a href="">About us</a>
                    <a href="">Newsroom</a>
                    <a href="">Contact Us</a>
                </ul>
            </div>
            <div class="col-md-2 text-center">
                <ul>
                    <h5> Legal </h5>
                            <br>
                    <a href="">About us</a>r
                    <a href="">Newsroom</a>
                    <a href="">Contact Us</a>
                </ul>
            </div>

            <div class="col-md-6 text-center">
                <br>
                <br>
                <br>
                <br>
                <span class="fa-stack fa-lg">
                    <a href=""><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></a>
                </span>
                <span class="fa-stack fa-lg">
                  <a href=""><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></a>
                </span>
                <span class="fa-stack fa-lg">
                  <a href=""><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></a>
                </span>
                <span class="fa-stack fa-lg">
                  <a href=""><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></a>
                </span>
            </div>
            
        </div>
        
    </footer>




      

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/front.js"></script>

</body>

</html>
